{% extends 'base2.html' %}
{% block content %}
{% for message in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% if current_user.is_authenticated %}
<h1>Blog Post :</h1>
<br/>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.title.label(
    class="form-label") }}
    {{ form.title(
    class="form-control") }}
    <br/> <br/>
    {{ form.slug.label(
    class="form-label") }}
    {{ form.slug(
    class="form-control") }}
    <br/><br/>
    {{ form.content.label(
    class="form-label") }}
    <textarea
    {{ form.content(
    class="form-control", rows="10") }}</textarea>
   
    <br/> 
    {{ form.submit(class="btn
    btn-secondary") }}
    <br/><br/><br/>
    </form>
<!-- 
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content', lg='en') }} -->
{% else %}
    <center><h2>You Must Be Login To Access This Page!  Try Ageen......</h2>
    <br/><br/>
    <a href="{{ url_for('login') }}" class="btn btn-success btn-bg" >Login Here</a></center>
{% endif %}
    
{% endblock %}