{% extends 'base2.html' %}
{% block content %}
{% for message in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}

{% if id == current_user.id  %}
    

    <h1>Updat User...:</h1>
    <br/>

    <form action="/update/{{ name_to_update.id }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(
        class="form-label") }}
        {{ form.name(
        class="form-control", value=name_to_update.name) }}
        <br/><br/>
        {{ form.username.label(
        class="form-label") }}
        {{ form.username(
        class="form-control", value=name_to_update.username) }}
        <br/> <br/>
        {{ form.email.label(
        class="form-label") }}
        {{ form.email(
        class="form-control", value=name_to_update.email) }}
        <br/><br/>
        {{ form.favorite_color.label(
        class="form-label") }}
        {{ form.favorite_color(
        class="form-control", value=name_to_update.favorite_color) }}
        <br/> 
        {{ form.submit(class="btn
        btn-secondary") }}
        <a href="{{ url_for('delete', id=id) }}" class="btn btn-danger">Delete</a>
    </form>
<br/><br/><br/>
 
{% else %}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Hey You Can't Edit This User!!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <center><h2>Access Denied!</h2>
    <p>Sorry You Can't Access This User.....</p></center>

{% endif %}
    
{% endblock %}